// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* base button styles */ 
button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    padding: 20px;
}

.hero button {
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 400;
}