// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/*
 * Navigation styles 
 */
.header {
    display: flex;
    margin: 0 auto;
}

.logo img {
    width: 180px;
    margin: 0 10px;
}

.nav {
    margin-left: auto;
    margin-right: 10px;
    width: 100%;
}

// nav items
.nav li  {
    list-style: none;
    padding: 10px 15px;
    display: inline-block;
    color: $brand-color;
}

@media screen and (max-width: 600px) {
    .nav li  {
        padding-right: 55px;
        display: block;
    }
}
.nav li a {
    color: $text-primary;
    font-weight: normal;
    padding-bottom: 5px;
    
    transition: .2s;

    &:hover {
        color: $brand-color;
        // border-bottom: 2px solid $brand-color;
    }
}
// the active page nav link
.nav li a.active {
    border-bottom: 2px solid $brand-color;
    
    color: $brand-color;
    // text-transform: uppercase;

}